<div class="row">
  <div class="col-xs-12 col-lg-9">
  
  <div class="row">
    
  <div class="visible-xs-block col-xs-12">
    <app-category-links on-change="navigate()" cat="itemCategory" collapse="true"></app-category-links>
  </div>
  <div class="hidden-xs col-sm-4 col-md-3">
    <app-category-links on-change="navigate()" cat="itemCategory"></app-category-links>
  </div>
  
  <div class="col-xs-12 col-sm-8 col-md-9" *ngIf="!itemCategory.searchType">
  <app-loading>
    <!-- For small screens this is the search box with filter button -->
    <div class="row visible-xs" *ngIf="!itemCategory.searchType">
      <div
        class="col-xs-12 input-group">
        <input placeholder="Search" (change)="changeSearch()" type="text" class="form-control" [(ngModel)]="nameSearch" />
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="filters = !filters">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
    <!-- For small screens the potentially hidden search options -->
    <div class="row visible-xs" *ngIf="!itemCategory.searchType && filters">
      <ng-container  *ngIf="!itemCategory.hideRank">
        <div class="col-xs-6 form-group" *ngFor="let r of ranks">
          <label class="checkbox-inline">
            <input (change)="changeSearch()" type="checkbox" [(ngModel)]="rankChecked[r.id]" value="{{r.id}}"> {{r.name | translate}}
          </label>
        </div>
      </ng-container>
      <div class="col-xs-6 col-sm-2" [hidden]="itemCategory.hideLevel">
        <label>{{'min&nbsp;lvl:' | translate}}
        </label>
        <input (change)="changeSearch()" type="number" step="any" class="form-control" [(ngModel)]="minLevel" />
      </div>
      <div class="col-xs-6 col-sm-2" [hidden]="itemCategory.hideLevel">
        <label>{{'max&nbsp;lvl:' | translate}}
        </label>
        <input (change)="changeSearch()" type="number" step="any" class="form-control" [(ngModel)]="maxLevel" />
      </div>
      <div [ngClass]="{'col-sm-2': !itemCategory.hideLevel, 'col-sm-3': itemCategory.hideLevel}" class="col-xs-12">
        <label>{{'stat:' | translate}}</label>
        <select (change)="changeSearch()" class="form-control" [(ngModel)]="stat">
          <option *ngFor="let stat of stats" [ngValue]="stat.id">
            {{ stat.name | translate }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-3" [hidden]="itemCategory.hideJob">
        <label>{{'class:' | translate}}
        </label>
        <select (change)="changeSearch()" [(ngModel)]="job" class="form-control">
          <option *ngFor="let job of jobs" [ngValue]="job.id">
            {{job.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- For large screens search options -->
    <div class="row hidden-xs" *ngIf="!itemCategory.searchType">
      <div class="col-xs-0 col-md-2"></div>
      <div class="hidden-xs col-md-10 form-group" *ngIf="!itemCategory.hideRank">
        <br />
        <span class="form-group" *ngFor="let r of ranks">
        <label class="checkbox-inline">
          <input (change)="changeSearch()" type="checkbox" [(ngModel)]="rankChecked[r.id]" value="{{r.id}}">{{r.name | translate}}&nbsp;
        </label>
        </span>
      </div>
      
      <div class="col-xs-6 col-sm-2" [hidden]="itemCategory.hideLevel">
        <label>{{'min&nbsp;lvl:' | translate}}
        </label>
        <input (change)="changeSearch()" type="number" step="any" class="form-control" [(ngModel)]="minLevel" />
      </div>
      <div class="col-xs-6 col-sm-2" [hidden]="itemCategory.hideLevel">
        <label>{{'max&nbsp;lvl:' | translate}}
        </label>
        <input (change)="changeSearch()" type="number" step="any" class="form-control" [(ngModel)]="maxLevel" />
      </div>
      <div [ngClass]="{'col-sm-2': !itemCategory.hideLevel, 'col-sm-3': itemCategory.hideLevel}" class="col-xs-12">
        <label>{{'stat:' | translate}}</label>
        <select (change)="changeSearch()" class="form-control" [(ngModel)]="stat">
          <option *ngFor="let stat of stats" [ngValue]="stat.id">
            {{ stat.name | translate}}
          </option>
        </select>
      </div>
      
      <div
        class="'col-xs-12"
        [ngClass]="{'col-sm-3': !itemCategory.hideLevel && !itemCategory.hideJob,'col-sm-6': !itemCategory.hideLevel && itemCategory.hideJob,'col-sm-6': itemCategory.hideLevel && !itemCategory.hideJob,'col-sm-9': itemCategory.hideLevel && itemCategory.hideJob}">
        <label>{{'name:' | translate}}</label>
        <input (change)="changeSearch()" type="text" class="form-control" [(ngModel)]="nameSearch" />
        <span class="input-group-btn">
        </span>
      </div>
      <div class="col-xs-12 col-sm-3" [hidden]="itemCategory.hideJob">
        <label>{{'class:' | translate}}
        </label>
        <select (change)="changeSearch()" [(ngModel)]="job" class="form-control">
        <option *ngFor="let job of jobs" [ngValue]="job.id">
            {{job.name}}
        </option>
        </select>
      </div>
    </div>
  
    <!-- Search results -->
    <div class="row" infiniteScroll (scrolled)="showMoreResults()" *ngIf="!itemCategory.searchType && results">
      <div class="col-xs-12" *ngFor="let result of results">
        <div class="row dnsim-card">
          <app-build-item [item]="result"></app-build-item>
          <div style="float:right">
              <button class="btn btn-default" (click)="showUse = !showUse">
                {{'use' | translate}}
              </button>
          </div>
          <div class="col-xs-12" *ngIf="showUse">
            <br />
            <app-build-assignment compact="true" item="result"></app-build-assignment>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="!(totalNumResults >= maxDisplay)" *ngIf="!itemCategory.searchType">
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
        <button class="btn btn-link" (click)="showMoreResults(20)">show more</button>
      </div>
    </div>
  </app-loading>
  </div>
  
  <div class="col-xs-12 col-sm-8 col-md-9" *ngIf="itemCategory.searchType">
    <!-- Other search controls -->
    <app-skill-search jobs="jobs" job="job" *ngIf="itemCategory.searchType == 'skills'">
    </app-skill-search>
  
    <app-custom-items *ngIf="itemCategory.searchType == 'custom'">
    </app-custom-items>
  
    <app-everything-search name-search="nameSearch" *ngIf="itemCategory.searchType == 'everything'">
    </app-everything-search>
  </div>
  
  </div> <!-- end the row -->
  </div> <!-- end the main column -->
  <div class="col-lg-3 visible-lg-block">
    <img src="assets/images/jasmin.png">
  </div>
</div> <!-- end the row -->
