<header>
  <div class="container-fluid chunkyness in-development">
    WARNING: This version is under re-development. The working version is <a href="https://spacem.github.io/dngearsim">here</a>
  </div>
  <div class="container-fluid chunkyness" id="head">
      <div class="container">
        <a href="/">
          <div class="dnsim-logo">
            <span class="dnsim-logo-dn">DN</span>
            <br />
            <span class="dnsim-logo-gearsim">gearsim</span>
          </div>
        </a>
        <div class="toggle-box row">
          <div class="col-xs-12">
            <div class="header-title text-right">
            &nbsp;
            <h1 class="hidden-xs header-title">
            {{'dragon nest gear simulator' | translate}}
            </h1>
            &nbsp;
            <app-region></app-region>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>