<ul class="nav nav-tabs" *ngIf="!noRegion()">
    <li class="nav-tab nav-{{action.name}}" *ngFor="let action of getActions()"> 
      <a class="list-group-item {{action.extraCss}}" routerLink="{{action.path}}">
        <span class="glyphicon glyphicon-{{action.icon}}" *ngIf="action.icon" aria-hidden="true"></span>
        <app-job-icon *ngIf="action.build" size="50%" [item]="action.build.job" [small]="true"></app-job-icon>
        &nbsp;
        <span class="hidden-xs">
        {{action.name | translate}}
        </span>
      </a>
    </li>
    <li class="nav-tab nav-about pull-right">
      <a class="list-group-item" routerLink="about">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        <span class="hidden-xs">
        {{ 'about' | translate }}
        </span>
      </a>
    </li>
  </ul>
  <div class="container-fluid sim-error" *ngIf="simError">
    {{simError}}
  </div>
  <div class="container-fluid sim-error" *ngIf="isHttpOnly()">
    <div class="container">
      <div class="col-xs-12 text-right">
        please use https: <a href="https://spacem.github.io/dngearsim">https://spacem.github.io/dngearsim</a>
      </div>
    </div>
  </div>