<h1>{{'dragon nest gear simulator v2' | translate}}</h1>
<strong>NOTE: VERSION 2 is still in development and may have issues</strong>
<br /><br />
<p>
  This is a multi-region equipment simulator for the game Dragon Nest with up to date data of all in-game items.
</p>
<p>
  Use the toggles in the top right to change regions.
  Language and data can be controlled separatly.
</p>
<p>
  If you run into any issues please see the <a routerLink="about">&raquo;faq</a>.
  <br /><br />
</p>
<p>
  Want to see data for other regions?
</p>
<p>
  Try the <a href="https://spacem.github.io/dngearsim-desktop/">&raquo;desktop edition of dngearsim</a>
</p>
<p style="text-align:center;">
<br />
<img style="text-align:center;" src="assets/images/engineer_front.png">
</p>