<div class="row">
  <div class="col-xs-12">
    <h4>{{'full item search' | translate}} <small>{{'find anything' | translate}}</small></h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
     <label>{{'seach by name:' | translate}}</label>
     <input (change)="changeSearch()" type="text" class="form-control" [(ngModel)]="nameSearch" />
  </div>
  <div class="col-xs-4 col-sm-2">
     <label>{{'min&nbsp;lvl:' | translate}}
     </label>
     <input (change)="changeSearch()" type="number" step="any" class="form-control" [(ngModel)]="minLevel" />
  </div>
  <div class="col-xs-4 col-sm-2">
     <label>{{'max&nbsp;lvl:' | translate}}
     </label>
     <input (change)="changeSearch()" type="number" step="any" class="form-control" [(ngModel)]="maxLevel" />
  </div>
  <div class="col-xs-4 col-sm-2">
     <label>{{'version' | translate}}
     </label>
     <select (change)="changeSearch()" [(ngModel)]="version" class="form-control">
       <option *ngFor="let v of versions" [ngValue]="v">
       </option>
     </select>
  </div>
</div>

<app-loading>
  <div class="row table-look"
    infiniteScroll
    (scrolled)="showMoreResults()">
    <div class="col-xs-12 col-md-6" *ngFor="let result of results">
      <div class="dnsim-card">
        <app-item-link [item]="result"></app-item-link>
      </div>
    </div>
    <div class="col-xs-12" *ngIf="results && maxDisplay <= results.length">
      <button class="btn btn-link" (click)="showMoreResults()">{{'show more' | translate}}</button>
    </div>
  </div>
</app-loading>